@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: dark;
}

body {
    @apply bg-base-900 text-base-100 font-sans antialiased;
}

::selection {
    background-color: hsl(48, 96%, 53%);
    color: hsl(240, 5%, 8%);
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
